body {
  background-color: #84abc8;
  font-family: "Afacad Flux", sans-serif;
  color: #33323a;
}

.App {
  background-color: #FEF9D9;
  min-height: 80vh;
  width: 700px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 2%;
}

.container{
  display: flex;
  justify-content: center;
}

ul, li, input, .btn {
  font-family: "Afacad Flux", sans-serif;
  color: #33323a;
  font-size: 20px; 
  padding: 10px;
  margin: 0;
}

ul, li{
  list-style-type: none;
}

li img {
  margin-right: 6px; 
}

.btn, input {
  width: 50%;
  border: 2px solid #ecebeb;
  border-radius: 10px;
}

.crossed {
  background-color: #ecebeb;
  text-decoration-line: line-through;
  text-decoration-color: #d96952;
  text-decoration-thickness: 2px;

  -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: #d96952;
  -webkit-text-decoration-thickness: 2px;
}

.add {
  background-color: #c1c181;
  margin-top: 5px;
}

.add:hover{
  background-color: #9aa048;
}

.delete {
  background-color: #ff9859;
  margin-bottom: 5px;
}

.delete:hover{
  background-color: #d96952;
}

input {
  flex: 1;
  margin: 10px;
}

img {
  border-radius:  45%;
}